.homepage {
    background-color: #FCF1F2;
    /* border-radius: 46px 46px 0px 0px; */
    /* margin: 0 7vw; */
    display: flex;
    flex-direction: column; /* Add this line to make items row-wise */
}

.homepage-image {
    /* background-color: aqua; */
    width: 80vw;
    margin: auto;
}

.homepage-image img{
    width:70vw;
}

*{
    scroll-behavior: smooth;
}